<div class="container">
  <div class="row">
    <br>
  </div>
  <div class="row">
      <div class="col-xs-6 col-md-4 col-lg-12">
        <div class="card-header bg-info text-left">
          End Workout
        </div>
        <div class="card-body">
          Workout Time of Day:
          <input type="text" name="day"/>
          <br>
          <br>
          Workout Time of Week:
          <input type="text" name="week"/>
          <br>
          <br>
          Workout Time of Month:
          <input type="text" name="month"/>
          <br>
          <br>
          
        </div>
      </div>
  </div>

</div>

