<div class="container">
  <div class="row">
    <br>
  </div>
  <div class="row">
      <div class="col-xs-6 col-md-4 col-lg-12">
        <div class="card-body">
          Workout Time of Day: 45 mins
          <br>
          <br>
          Workout Time of Week: 240 mins
          <br>
          <br>
          Workout Time of Month: 1000 mins
          <br>
          <br>
          <canvas id="dayChart" width="300" height="100">{{dayChart}}</canvas>
          <br>
          <br>
          <canvas id="weekChart" width="300" height="100">{{weekChart}}</canvas>
          <br>
          <br>
          <canvas id="monthChart" width="300" height="100">{{monthChart}}</canvas>
        </div>
      </div>
  </div>

</div>

