<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src="./assets/images.jpeg" class="img-responsive" alt="Responsive image">
  <h1 class="bg-info">
    Workout Tracker
  </h1>
      <div class="container">
        <div class="row">
          <div class="col-sm-3 navstyle">
            <a routerLink="/view-all">View All</a>
          </div>
          <div class="col-sm-3 navstyle">
            <a routerLink="/create">Create</a>
          </div>
          <div class="col-sm-3 navstyle">
            <a routerLink="/category">Category</a>
          </div>
          <div class="col-sm-3 navstyle">
            <a routerLink="/track">Track</a>
          </div>
      </div>
    </div>
<router-outlet></router-outlet>
