<div class="container">
    <div class="row">
      <br>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-12">
          <div class="card-header bg-info text-left">
            End Workout
          </div>
          <div class="card-body">
            Title:
            <input type="text" disabled="true" name="title" value="{{workout.title}}"/>
            <br>
            <br>
            Comment:
            <input #comment type="text" name="comment" value="{{workout.comment}}"/>
            <br>
            <br>
            End Date:
            <input #endDate disabled="true" type="text" name="startdate" value="{{today | date }}"/>
            <br>
            <br>
            End Time:
            <input #endTime disabled="true" type="text" name="starttime" value="{{today | date:'shortTime'}}"/>
            <br>
            <br>
            <button (click)="onEndWorkout(comment,endDate,endTime)" class = "btn btn-info btn-lg" name="update">End</button>
            <button (click)="onCancel()" class = "btn btn-info btn-lg" name="cancel">Cancel</button>
          </div>
        </div>
    </div>
  
  </div>
  
  